In [ ]:
#範例12 1-41
import math
x1,y1 = eval(input())
x2,y2 = eval(input())
x3,y3 = eval(input())

side1 = math.sqrt((x2-x1)**2+(y2-y1)**2)
side2 = math.sqrt((x3-x1)**2+(y3-y1)**2)
side3 = math.sqrt((x3-x2)**2+(y3-y2)**2)

s = (side1 + side2 + side3)/2
area = math.sqrt((s*(s-side1)*(s-side2)*(s-side3)))
print('The area of the triangle = %.2f'%(area))

1.5,-3.4
4.6,5
9.5,-3.4
The area of the triangle = 33.60

In [ ]:
#範例6 2-24
score = eval(input())

if 80 <= score <= 100:
  grade = 'A'
elif 70 <= score <=79:
  grade = 'B'
elif 60 <= score <=69:
  grade = 'C'
elif score <= 59:
  grade = 'F'

print(grade)

79
B

In [ ]:
#範例9 2-30
x = eval(input())
y = eval(input())
dist = ((x-5)**2 + (y-6)**2)**0.5

if dist <= 15:
  print("Inside")
else:
  print("Outside")

30
35
Outside

In [ ]:
#範例13 2-36
a,b,c = eval(input('Enter a,b,c: '))
d,e,f = eval(input('Enter d,e,f: '))

if a*e - b*d == 0:
  if c*e - b*f == 0 and a*f - c*d == 0:
    print('有無限多組解')
  else:
    print('無解')
else:
  x = (c*e - b*f)/(a*e - b*d)
  y = (a*f - c*d)/(a*e - b*d)
  print('x is %.2f,y = %.2f'%(x,y))

Enter a,b,c: 9,4,-6
Enter d,e,f: 3,-5,-21
x is -2.00,y = 3.00

In [ ]:
#範例15 2-39
num1,num2,num3 = eval(input("Enter three integers:"))
if num1 > num2:
  num1,num2 = num2,num1

if num2 > num3:
  num2,num3 = num3,num2

if num1 > num2:
  num1,num2 = num2,num1

print("The sorted numbers are",num1,num2,num3)

Enter three integers:8,6,1
The sorted numbers are 1 6 8

In [ ]:
#範例10 3-27
n = eval(input())
sum_series = 0

for i in range(2,n+1):
  sum_series += 1 / ((i-1)**0.5 + i**0.5)
print("%.4f"% sum_series)

8
1.8284

In [ ]:
#範例15 3-33
n = eval(input())
total = 0
for i in range(n,0,-1):
  total += 1.0/i
print('1/n + 1/(n-1) + 1(n-2) +...+ 1 = ',total)

50000
1/n + 1/(n-1) + 1(n-2) +...+ 1 =  11.397003949278519

In [ ]:
#問題3 3-35
a = int(input())
b = int(input())

total_sum = 0

for num in range(a,b+1):
  if num % 2 == 0:
    total_sum += num

print("total=", total_sum)

1
100
total= 2550

In [ ]:
#9x9乘法表
for i in range(1, 10):
    row = ''
    for j in range(1, 10):
        row += f"{i} x {j} = {i*j}\t"
    print(row)

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81